/* Estils globals */

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
}

#content {
    height: 100vh;
    margin: auto;
    margin-top: 10px;
}

/* Estils de capçalera */

header {
    box-sizing: border-box;
    width: 100%;
    height: 8vh;
    padding-top: 2vh;
    background-color: #2d3436;
}

#logo {
    width: 20%;
    height: 4vh;
    background-color: #dfe6e9;
    margin-left: 20px;
    float: left;
}

.float-right {
    width: 3vh;
    height: 3vh;
    border-radius: 3vh;
    background-color: #dfe6e9;
    float: right;
    margin-right: 1%;
    margin-top: 0.5vh;
}

#instagram {
    margin-right: 2%;
}

/* Amplada del contenidor segons dispositiu */
@media (max-width: 529px) {
    #content {
        width: 85%;
    }
}

@media (min-width: 530px) and (max-width: 950px) {
    #content {
        width: 75%;
    }
}

@media (min-width: 951px) {
    #content {
        width: 60%;
    }
}

/* Estils de barra de navegació */
#navbar {
    width: 100%;
    margin-top: 2vh;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#navbar li {
    width: 18.6%;
    height: 3vh;
    display: inline-block;
    margin: auto;
    background-color: #b2bec3;
}

/* Amplada dels items de menú segons amplada dispositiu */
@media (min-width: 314px) and (max-width: 375px) {
    #navbar li {
        width: 18.8%;
    }
}

@media (min-width: 376px) and (max-width: 530px) {
    #navbar li {
        width: 19%;
    }
}

@media (min-width: 531px) and (max-width: 707px) {
    #navbar li {
        width: 19.2%;
    }
}

@media (min-width: 708px) and (max-width: 1325px) {
    #navbar li {
        width: 19.4%;
    }
}

@media (min-width: 1326px) {
    #navbar li {
        width: 19.6%;
    }
}

/* Estils dels article */
#top-articles {
    width: 100%;
    margin-top: 2vh;
}

#top-articles article {
    width: 32%;
    height: 18vh;
    background-color: #636e72;
    display: inline-block;
    float: left;
    border-right: 1.2vw solid white;
}

#top-articles article:last-child {
    border-right: 0;
    clear: right;
}

#central-article {
    width: 100%;
    height: 53vh;
    margin-top: 23vh;
    background-color: #636e72;
}

#central-article article {
    width: 60%;
    height: 100%;
    margin: auto;
    background-color: #2d3436;
}

/* Estils del footer */
footer {
    width: 100%;
    height: 4vh;
    background-color: #2d3436;
    margin-top: 3vh;
}